@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Space+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 4rem;
}

button {
    padding: 1rem;
    margin: 1rem;
    font-size: 3rem;

    border: 3px solid #808080;
    border-radius: 15px;
    transition: padding 0.2s;
}

button:hover {
    padding: 1rem 1.5rem;
}

p {
    font-size: 1rem;
}

h3 {
    margin-top: 2rem;
}



@media screen and (max-width: 430px) {

    button {
        padding: 0.5rem;
        margin: 0.2rem;
        font-size: 3rem;
    
        border: 3px solid #808080;
        border-radius: 15px;
    }
}